*{
    padding: 0px;
}
/* decorating the entire body of the element */
body{
    background:linear-gradient(to bottom,rgba(0, 0, 0,1.0),rgba(0, 0, 0, 0.9)), url(../img/time-background-clocks-on-beige-background-vector-20506376.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 15%;
    font-size: 2rem;
    display: flex;
    flex: 1;
}
/* decorating the hands of the clock and giving it transform styles */
.clock .clock-face .hand{
    width: 250px;
    height: 6px;
    background:#714C29;
    position: absolute;
    top: 48%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}
/* designing the clock-face */
.clock-face{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
/* styling the clock giving it it's shape and form */
.clock{
    width: 30rem;
    height: 30rem;
    border: 25px solid #714C29;
    border-radius: 50%;
    margin: 50px auto;
    padding: 2rem;
    position: relative;
}
.clock .clock-face .hand second{
   transform: rotate(70deg);
}
@media screen and (max-width:768px){
    body{
        background:#012F81;
        font-size: 2rem;
        display: flex;
        margin-top: 70%;
    
    }
    .clock{
        width: 27rem;
        height: 27rem;
        border: 20px solid white;
        border-radius: 50%;
        margin: 50px auto;
        padding: 2rem;
        position: relative;
    }
    .clock .clock-face .hand{
        width: 200px;
        height: 3px;
        background:black;
        position: absolute;
        top: 44%;
        transform-origin: 100%;
        transform: rotate(90deg);
        transition: all 0.05s;
        transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }
    
@media screen and (max-width:480px){
    body{

        background: #012F81;
        font-size: 2rem;
        display: flex;
        margin-top: 60%;

    }
    .clock{
        width: 20rem;
        height: 20rem;
        border: 20px solid white;
        border-radius: 50%;
        margin: 50px auto;
        padding: 2rem;
        position: relative;
    }
    .clock .clock-face .hand{
        width: 200px;
        height: 2px;
        background:black;
        position: absolute;
        top: 42%;
        transform-origin: 100%;
        transform: rotate(90deg);
        transition: all 0.05s;
        transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
    }
}